<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title><%= page %></title>
  </head>
  <body>
    <h1>TODO LIST</h1>
    <div class="container">
      <ul>
        <% for(let i of t) { %>
        <li>
          <div class="taskbox">
            <div>
              <h4><%= i.do %></h4>
              <p><%= i.desc %></p>
            </div>
            <div class="delete-button">
              <a class="fa-solid fa-cross" href="/delete/?id=<%= i._id %>"> </a>
            </div>
          </div>
        </li>
        <% } %>
      </ul>
    </div>

    <form class="form" action="/create-tasks" method="POST">
      <input type="text" name="do" placeholder="Enter Task" required />
      <input type="text" name="desc" placeholder="Enter Desc" required />
      <button type="submit">Add Task</button>
    </form>
  </body>
</html>
